<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://kit.fontawesome.com/81709f7377.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.22/css/dataTables.bootstrap4.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="shortcut icon" href="/img/logo3R.ico"/>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand text-white" href="#">Control de gastos <i class="fas fa-hand-holding-usd"></i></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item ml-1">
                    <a class="nav-link text-white" href="@Url.Action("Index", "Proyectos")">
                        <i class="fas fa-drafting-compass"></i>  <span><b>Proyectos</b></span>
                    </a>
                </li>
                <li class="nav-item ml-1">
                    <a class="nav-link text-white" href="#"><i class="fas fa-file-invoice-dollar"></i> <b>Requisiciones</b></a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-user"></i><b> @ViewBag.Usuario</b>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#"><i class="fas fa-user-cog"></i> Mi perfil</a>
                        <div class="dropdown-divider"></div>
                        <a id="CerrarSesion" class="dropdown-item" href="#"><i class="fas fa-sign-out-alt"></i> Cerra sesion</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - 3R EN ASESORÍA DE CONTROL Y MANTENIMIENTO S.A. DE C.V.</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <style>
        body {
            padding-top: 0px;
            padding-bottom: 0px;
        }

        input[type="search"] {
            width: 170px !important;
            /* margin: 10px !important;*/
            border-radius: 32px !important;
            outline: none !important;
            border: 2px solid #ccd1d1 !important;
            background: #e9ecef !important;
            transition: all 0.5s !important;
        }

            input[type="search"]:focus {
                background: #fff !important;
                width: 260px !important;
            }
        .navbar {
            background: -webkit-linear-gradient(-2deg, #bd2130, #3e3434);
            background: -o-linear-gradient(-2deg, #bd2130, #3e3434);
            background: -moz-linear-gradient(-2deg, #bd2130, #3e3434);
            background: linear-gradient(-2deg, #21bd83, #3e3434);
        }
    </style>

    <script type="text/javascript">
        $(document).ready(function () {
            $("#CerrarSesion").click(function () {
                CerrarSesion();
            });
        });

    function CerrarSesion() {
        //Saul Gonzalez 21/10/2020: Asiganamos los parametros
        $.ajax({
            type: "POST",
            traditional: true,
            async: false,
            cache: false,
            url: '/Login/CerrarSesion',
            context: document.body,
            //data: Params,
            success: function (result) {
                if (result.status) {
                window.location.href='@Url.Action("Index", "Login")';
                }
                else {
                    Swal.fire({
                        icon: 'error',
                        title: "Error",
						text: result.mensaje,
                        showConfirmButton: true,
                        allowOutsideClick: false
                    }).then((result) => {
                        // Saul Gonzalez: 19/10/2020: Se recarga la pagina despues de cerra el swalFire
                        if (result.isConfirmed) {
                             window.location.href='@Url.Action("Index", "Login")';
                        }
                    })
                }
            },
            error: function (xhr) {
                // Debugger;
                console.log(xhr.responseText);
                alert("Error has occurred...");
            }
        });
    }


    </script>

</body>
</html >
