<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://kit.fontawesome.com/81709f7377.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.22/css/dataTables.bootstrap4.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="shortcut icon" href="/img/logo3R.ico" />
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand text-white" href="#">Control de gastos <i class="fas fa-hand-holding-usd"></i></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item ml-1 zoombtn">
                    <a class="nav-link text-white" href="@Url.Action("Index", "Proyectos")">
                        <i class="fas fa-drafting-compass"></i>  <span><b>Proyectos</b></span>
                    </a>
                </li>
                <li class="nav-item ml-1 zoombtn">
                    <a class="nav-link text-white" href="@Url.Action("Index", "Requisiciones")"><i class="fas fa-file-invoice-dollar"></i> <b>Requisiciones</b></a>
                </li>
                @if (Session["Permiso"].ToString() == "Administrador")
                {
                    <li class="nav-item ml-1 zoombtn">
                        <a class="nav-link text-white" href="@Url.Action("Index", "Usuarios")"><i class="fas fa-users"></i> <b>Usuarios</b></a>
                    </li>
                }
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-user"></i><b> @ViewBag.Usuario</b>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="@Url.Action("Index", "PerfilUsuario")"><i class="fas fa-user-cog"></i> Mi perfil</a>
                        <div class="dropdown-divider"></div>
                        <a id="CerrarSesion" class="dropdown-item" href="#"><i class="fas fa-sign-out-alt"></i> Cerra sesion</a>
                    </div>
                </li>
                <li class="nav-item zoombtn">
                    <a class="nav-link text-white" href="#" data-toggle="modal" data-target="#Modalayuda"><i class="fas fa-question-circle"></i> <b>Ayuda</b></a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - 3R EN ASESORÍA DE CONTROL Y MANTENIMIENTO S.A. DE C.V.</p>
        </footer>
    </div>

    @*MODAL de Ayuda*@
    <div class="container">
        <!-- The Modal -->
        <div class="modal fade" id="Modalayuda">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">

                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h4 class="modal-title"><i class="fas fa-question-circle"></i> Ayuda</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>

                    <!-- Modal body -->
                    <div class="modal-body">
                        <div class="slide">
                            <h4 style="text-decoration:none; text-align:center" class="mb-3">Selecciona el modulo en el cual necesitas ayuda</h4>
                        </div>
                        <div id="accordion">
                            <div class="card">
                                <div class="card-header" id="headingOne">
                                    <h5 class="mb-0">
                                        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                            <i class="fas fa-drafting-compass"></i> Proyectos
                                        </button>
                                    </h5>
                                </div>

                                <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                                    <div class="card-body">
                                        @*Video de registrar proyectos*@
                                        <a title="Ver video" href="javascript:void(0);" onclick="window.open('https://drive.google.com/file/d/1BdE_TYeuJPd7rB-p2fZbRVuLiGmlOW88/view?usp=sharing', 'popup', 'left=80, top=200, width=1100, height=1200, toolbar=0, resizable=1')">
                                            <ul>
                                                <li><p><i class="fas fa-plus-square"></i> Registrar</p></li>
                                            </ul>
                                        </a>
                                        @*Video de Editar proyectos*@
                                        <a title="Ver video" href="javascript:void(0);" onclick="window.open('https://drive.google.com/file/d/177rzlrQOXgQUUg3S4QPMZFPyUAEDfWax/view?usp=sharing', 'popup', 'popup', 'left=80, top=200, width=1100, height=1200, toolbar=0, resizable=1')">
                                            <ul>
                                                <li><p><i class="fas fa-edit"></i> Editar</p></li>
                                            </ul>
                                        </a>
                                        @*Video de eliminar proyectos*@
                                        <a title="Ver video" href="javascript:void(0);" onclick="window.open('https://drive.google.com/file/d/1uvX_VgaoIsRVyVfR0TEQkV_OToicsrW-/view?usp=sharing', 'popup', 'popup', 'left=80, top=200, width=1100, height=1200, toolbar=0, resizable=1')">
                                            <ul>
                                                <li><p><i class="fas fa-trash-alt"></i> Eliminar</p></li>
                                            </ul>
                                        </a>
                                        @*Video de cerrar proyecto*@
                                        <a title="Ver video" href="javascript:void(0);" onclick="window.open('https://drive.google.com/file/d/1mmB25hN8-Lv0PucZz6rRtH6MgXqte1KL/view?usp=sharing', 'popup', 'popup', 'left=80, top=200, width=1100, height=1200, toolbar=0, resizable=1')">
                                            <ul>
                                                <li><p><i class="fas fa-lock"></i> Cerrar proyecto</p></li>
                                            </ul>
                                        </a>
                                        @*Video de Reabrir proyecto*@
                                        <a title="Ver video" href="javascript:void(0);" onclick="window.open('https://drive.google.com/file/d/1pN2y_xZ98k7olBBx1VE-4R14ANhlst2r/view?usp=sharing', 'popup', 'popup', 'left=80, top=200, width=1100, height=1200, toolbar=0, resizable=1')">
                                            <ul>
                                                <li><p><i class="fas fa-unlock-alt"></i> Reabrir proyecto</p></li>
                                            </ul>
                                        </a>
                                        @*Video de modificar fecha de inicio*@
                                        <a title="Ver video" href="javascript:void(0);" onclick="window.open('https://drive.google.com/file/d/1bWWke8TwXBRdSHz8Z62GLprOC7HL0mJG/view?usp=sharing', 'popup', 'popup', 'left=80, top=200, width=1100, height=1200, toolbar=0, resizable=1')">
                                            <ul>
                                                <li><p><i class="fas fa-calendar-alt"></i> Modificar fecha de inicio</p></li>
                                            </ul>
                                        </a>
                                        @*Video de modifica monto inicial*@
                                        <a title="Ver video" href="javascript:void(0);" onclick="window.open('https://drive.google.com/file/d/1cjOggaWsqTVgNYl8EWV_8kK6oYLw6uwb/view?usp=sharing', 'popup', 'popup', 'left=80, top=200, width=1100, height=1200, toolbar=0, resizable=1')">
                                            <ul>
                                                <li><p><i class="fas fa-coins"></i> Modificar monto inicial</p></li>
                                            </ul>
                                        </a>
                                        @*Video de modifica descripcion*@
                                        <a title="Ver video" href="javascript:void(0);" onclick="window.open('https://drive.google.com/file/d/1H0T-d-amKjDw68NfmX1p5EQoEaZQJP5s/view?usp=sharing', 'popup', 'popup', 'left=80, top=200, width=1100, height=1200, toolbar=0, resizable=1')">
                                            <ul>
                                                <li><p><i class="fas fa-comment-alt"></i> Modificar descripción</p></li>
                                            </ul>
                                        </a>

                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="headingThree">
                                    <h5 class="mb-0">
                                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                            <i class="fas fa-file-invoice-dollar"></i> Pagos
                                        </button>
                                    </h5>
                                </div>
                                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                                    <div class="card-body">
                                        @*Video de registrar Pagos*@
                                        <a title="Ver video" href="javascript:void(0);" onclick="window.open('https://drive.google.com/file/d/1upinZs2ac9XOcJt-nqoY2bHXdUsca6WV/view?usp=sharing', 'popup', 'popup', 'left=80, top=200, width=1100, height=1200, toolbar=0, resizable=1')">
                                            <ul>
                                                <li><p><i class="fas fa-plus-square"></i> Registrar</p></li>
                                            </ul>
                                        </a>
                                        @*Video de editar Pagos*@
                                        <a title="Ver video" href="javascript:void(0);" onclick="window.open('https://drive.google.com/file/d/12DctcggzD1zJ0kXEXh5OTutd26FzaAOC/view?usp=sharing', 'popup', 'popup', 'left=80, top=200, width=1100, height=1200, toolbar=0, resizable=1')">
                                            <ul>
                                                <li><p><i class="fas fa-edit"></i> Editar</p></li>
                                            </ul>
                                        </a>
                                        @*Video de eliminar Pagos*@
                                        <a title="Ver video" href="javascript:void(0);" onclick="window.open('https://drive.google.com/file/d/1xaUDiAW-t318etQCsi7wNfiPTiVKeDDS/view?usp=sharing', 'popup', 'popup', 'left=80, top=200, width=1100, height=1200, toolbar=0, resizable=1')">
                                            <ul>
                                                <li><p><i class="fas fa-trash-alt"></i> Eliminar</p></li>
                                            </ul>
                                        </a>
                                        @*Video de combinar pago*@
                                        <a title="Ver video" href="javascript:void(0);" onclick="window.open('https://drive.google.com/file/d/1StCKfFDwGiUdcX5Fb417_ntgK55cIsRy/view?usp=sharing', 'popup', 'popup', 'left=80, top=200, width=1100, height=1200, toolbar=0, resizable=1')">
                                            <ul>
                                                <li><p><i class="fas fa-link"></i> Combinar pago</p></li>
                                            </ul>
                                        </a>
                                        @*Video de retorno de efectivo*@
                                        <a title="Ver video" href="javascript:void(0);" onclick="window.open('https://drive.google.com/file/d/17OVA1KdrG00xmbxLK3zMvLsMvX94daVg/view?usp=sharing', 'popup', 'popup', 'left=80, top=200, width=1100, height=1200, toolbar=0, resizable=1')">
                                            <ul>
                                                <li><p><i class="fas fa-undo"></i> Retorno de efectivo</p></li>
                                            </ul>
                                        </a>
                                        @*Video de ver notas*@
                                        <a title="Ver video" href="javascript:void(0);" onclick="window.open('https://drive.google.com/file/d/14q6R_2jv525xQ0TFr5NlSPU-8rXqogQ-/view?usp=sharing', 'popup', 'popup', 'left=80, top=200, width=1100, height=1200, toolbar=0, resizable=1')">
                                            <ul>
                                                <li><p><i class="fas fa-comment-dots"></i> Ver notas</p></li>
                                            </ul>
                                        </a>

                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="headingTwo">
                                    <h5 class="mb-0">
                                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                            <i class="fas fa-file-invoice-dollar"></i> Requisiciones
                                        </button>
                                    </h5>
                                </div>
                                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                                    <div class="card-body">
                                        @*Video de registrar Requisiciones*@
                                        <a title="Ver video" href="javascript:void(0);" onclick="window.open('https://drive.google.com/file/d/12_io5e0dG0DjA_kjwcsH85EufpZuFhUx/view?usp=sharing', 'popup', 'popup', 'left=80, top=200, width=1100, height=1200, toolbar=0, resizable=1')">
                                            <ul>
                                                <li><p><i class="fas fa-plus-square"></i> Registrar</p></li>
                                            </ul>
                                        </a>
                                        @*Video de editar Requisiciones*@
                                        <a title="Ver video" href="javascript:void(0);" onclick="window.open('https://drive.google.com/file/d/1iZtG2IO5H5fQHJPaZK5EBGDOs9swnC3M/view?usp=sharing', 'popup', 'popup', 'left=80, top=200, width=1100, height=1200, toolbar=0, resizable=1')">
                                            <ul>
                                                <li><p><i class="fas fa-edit"></i> Editar</p></li>
                                            </ul>
                                        </a>
                                        @*Video de cancelar Requisiciones*@
                                        <a title="Ver video" href="javascript:void(0);" onclick="window.open('https://drive.google.com/file/d/17KNXUBQIOjdya1kJf5QFuhu_4ynHG7xg/view?usp=sharing', 'popup', 'popup', 'left=80, top=200, width=1100, height=1200, toolbar=0, resizable=1')">
                                            <ul>
                                                <li><p><i class="fas fa-times-circle"></i> Cancelar</p></li>
                                            </ul>
                                        </a>
                                        @*Video de registrar liberacion*@
                                        <a title="Ver video" href="javascript:void(0);" onclick="window.open('https://drive.google.com/file/d/1FnTGpIr2NsgJ1erqU4jvBLFYxDKEVtwK/view?usp=sharing', 'popup', 'popup', 'left=80, top=200, width=1100, height=1200, toolbar=0, resizable=1')">
                                            <ul>
                                                <li><p><i class="fas fa-hand-holding-usd"></i> Registrar liberación</p></li>
                                            </ul>
                                        </a>
                                        @*Video de Eliminar liberacion*@
                                        <a title="Ver video" href="javascript:void(0);" onclick="window.open('https://drive.google.com/file/d/1x7QRoCfW7T1RJMIjjBGUxd9EBmJKEHB6/view?usp=sharing', 'popup', 'popup', 'left=80, top=200, width=1100, height=1200, toolbar=0, resizable=1')">
                                            <ul>
                                                <li><p><i class="far fa-trash-alt"></i> Eliminar liberación</p></li>
                                            </ul>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="headingFour">
                                    <h5 class="mb-0">
                                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                            <i class="fas fa-users"></i> Usuarios
                                        </button>
                                    </h5>
                                </div>
                                <div id="collapseFour" class="collapse" aria-labelledby="collapseFour" data-parent="#accordion">
                                    <div class="card-body">
                                        @*Video de registrar Usuarios*@
                                        <a title="Ver video" href="javascript:void(0);" onclick="window.open('https://drive.google.com/file/d/1AkL6SmzRvUeUa_zj-tcHjIslVsW2KOZp/view?usp=sharing', 'popup', 'popup', 'left=80, top=200, width=1100, height=1200, toolbar=0, resizable=1')">
                                            <ul>
                                                <li><p><i class="fas fa-user-plus"></i> Registrar</p></li>
                                            </ul>
                                        </a>
                                        @*Video de editar Usuarios*@
                                        <a title="Ver video" href="javascript:void(0);" onclick="window.open('https://drive.google.com/file/d/1OSzbAirkz4ntl5fWr7o0RePxFbdFQD5E/view?usp=sharing', 'popup', 'popup', 'left=80, top=200, width=1100, height=1200, toolbar=0, resizable=1')">
                                            <ul>
                                                <li><p><i class="fas fa-edit"></i> Editar</p></li>
                                            </ul>
                                        </a>
                                        @*Video de eliminar Usuarios*@
                                        <a title="Ver video" href="javascript:void(0);" onclick="window.open('https://drive.google.com/file/d/1Pd19FYlov865pwhy8AN-0FiShmAm3wc_/view?usp=sharing', 'popup', 'popup', 'left=80, top=200, width=1100, height=1200, toolbar=0, resizable=1')">
                                            <ul>
                                                <li><p><i class="fas fa-trash-alt"></i> Eliminar</p></li>
                                            </ul>
                                        </a>
                                        @*Video de ver contraseña*@
                                        <a title="Ver video" href="javascript:void(0);" onclick="window.open('https://drive.google.com/file/d/1qg9OZcwdz7WgNnSs2SOSTyC_ZpBQMt9p/view?usp=sharing', 'popup', 'popup', 'left=80, top=200, width=1100, height=1200, toolbar=0, resizable=1')">
                                            <ul>
                                                <li><p><i class="fas fa-key"></i> Ver contraseña</p></li>
                                            </ul>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Modal footer -->
                    <div class="modal-footer" id="footerEditar">
                        <button type="button" class="btn btn-danger" data-dismiss="modal"> Cerrar</button>
                    </div>

                </div>
            </div>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <style>
        body {
            padding-top: 0px;
            padding-bottom: 0px;
        }

        input[type="search"] {
            width: 170px !important;
            /* margin: 10px !important;*/
            border-radius: 32px !important;
            outline: none !important;
            border: 2px solid #ccd1d1 !important;
            background: #e9ecef !important;
            transition: all 0.5s !important;
        }

            input[type="search"]:focus {
                background: #fff !important;
                width: 260px !important;
            }

        .navbar {
            background: -webkit-linear-gradient(-2deg, #bd2130, #3e3434);
            background: -o-linear-gradient(-2deg, #bd2130, #3e3434);
            background: -moz-linear-gradient(-2deg, #bd2130, #3e3434);
            background: linear-gradient(-2deg, #21bd83, #3e3434);
        }
        /*PROPIEDADES DE STYLO PARA EL EFECTO ZOOM EN OTROS COMPONENTES COMO BOTONES O DIVS*/
        .zoombtn {
            /* Aumentamos la anchura y altura durante 2 segundos */
            transition: width 0.5s, height 0.5s, transform 0.5s;
            -moz-transition: width 0.5s, height 0.5s, -moz-transform 0.5s;
            -webkit-transition: width 0.5s, height 0.5s, -webkit-transform 0.5s;
            -o-transition: width 0.5s, height 0.5s,-o-transform 0.5s;
        }

            .zoombtn:hover {
                /* tranformamos el elemento al pasar el mouse por encima al doble de
           su tamaño con scale(2). */
                transform: scale(1.09);
                -moz-transform: scale(1.09); /* Firefox */
                -webkit-transform: scale(1.09); /* Chrome - Safari */
                -o-transform: scale(1.09); /* Opera */
            }

        .slide {
            animation-duration: 0.6s;
            animation-name: animTexto;
            margin: 20px;
        }

        @@keyframes animTexto {
            from {
                margin-left: 100%;
                width: 100%;
            }

            to {
                margin-left: 0%;
                width: 100%;
            }
        }
        /*EFECTO DE LLENADO PARA UN BOTON*/
        .get_btn {
            background: #ffffff;
            color: #333333;
            padding: 14px 20px;
           /* border-radius: 100px;*/
            overflow: hidden;
         /*   font-family: "Montserrat", sans-serif;*/
            font-weight: 500;
            font-size: 1rem;          
            display: inline-block;
            padding: 7px 10px;
            border-radius: 6px;
            transition: 0.5s;
           /* margin: 10px;*/
        }

            .get_btn:hover {
                color: #ffffff;
            }

        .hvr-bounce-to-top {
            display: inline-block;
            vertical-align: middle;
            -webkit-transform: perspective(1px) translateZ(0);
            transform: perspective(1px) translateZ(0);
            box-shadow: 0 0 1px rgba(0, 0, 0, 0);
            position: relative;
            -webkit-transition-property: color;
            transition-property: color;
            -webkit-transition-duration: 0.5s;
            transition-duration: 0.5s;
        }

            .hvr-bounce-to-top::before {
                content: "";
                position: absolute;
                z-index: -1;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background: #28a745;
                -webkit-transform: scaleY(0);
                transform: scaleY(0);
                -webkit-transform-origin: 50% 100%;
                transform-origin: 50% 100%;
                -webkit-transition-property: transform;
                transition-property: transform;
                -webkit-transition-duration: 0.5s;
                transition-duration: 0.5s;
                -webkit-transition-timing-function: ease-out;
                transition-timing-function: ease-out;
            }

            .hvr-bounce-to-top:hover::before, .hvr-bounce-to-top:focus::before, .hvr-bounce-to-top:active::before {
                -webkit-transform: scaleY(1);
                transform: scaleY(1);
                -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
                transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
            }


        .hvr-bounce-to-top-eliminar {
            display: inline-block;
            vertical-align: middle;
            -webkit-transform: perspective(1px) translateZ(0);
            transform: perspective(1px) translateZ(0);
            box-shadow: 0 0 1px rgba(0, 0, 0, 0);
            position: relative;
            -webkit-transition-property: color;
            transition-property: color;
            -webkit-transition-duration: 0.5s;
            transition-duration: 0.5s;
        }

            .hvr-bounce-to-top-eliminar::before {
                content: "";
                position: absolute;
                z-index: -1;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background: #dc3545;
                -webkit-transform: scaleY(0);
                transform: scaleY(0);
                -webkit-transform-origin: 50% 100%;
                transform-origin: 50% 100%;
                -webkit-transition-property: transform;
                transition-property: transform;
                -webkit-transition-duration: 0.5s;
                transition-duration: 0.5s;
                -webkit-transition-timing-function: ease-out;
                transition-timing-function: ease-out;
            }

            .hvr-bounce-to-top-eliminar:hover::before, .hvr-bounce-to-top-eliminar:focus::before, .hvr-bounce-to-top-eliminar:active::before {
                -webkit-transform: scaleY(1);
                transform: scaleY(1);
                -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
                transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
            }
    
    </style>

    <script type="text/javascript">
        $(document).ready(function () {
            $("#CerrarSesion").click(function () {
                CerrarSesion();
            });
        });

    function CerrarSesion() {
        //Saul Gonzalez 21/10/2020: Asiganamos los parametros
        $.ajax({
            type: "POST",
            traditional: true,
            async: false,
            cache: false,
            url: '/Login/CerrarSesion',
            context: document.body,
            //data: Params,
            success: function (result) {
                if (result.status) {
                window.location.href='@Url.Action("Index", "Login")';
                }
                else {
                    Swal.fire({
                        icon: 'error',
                        title: "Error",
						text: result.mensaje,
                        showConfirmButton: true,
                        allowOutsideClick: false
                    }).then((result) => {
                        // Saul Gonzalez: 19/10/2020: Se recarga la pagina despues de cerra el swalFire
                        if (result.isConfirmed) {
                             window.location.href='@Url.Action("Index", "Login")';
                        }
                    })
                }
            },
            error: function (xhr) {
                // Debugger;
                console.log(xhr.responseText);
                alert("Error has occurred...");
            }
        });
    }


    </script>

</body>
</html>
